@model CoreLibraryProj.Book

@{
    Layout = null;
    ViewData["Title"] = "Details";

    //Get ID of current book that is opened in browser tab
    int bookid = Model.Id;

    CoreLibraryContext db = new CoreLibraryContext();

    //Create current_doc object to output book text in all languages, also create a list which will containt all languages versions
    DocumentFullText current_doc = new DocumentFullText();
    List<DocumentFullText> current_doc_langs = new List<DocumentFullText>();
    foreach (DocumentFullText item in db.DocumentFullTexts.ToList())

        if (item.DocumentId == bookid) { current_doc_langs.Add(item); current_doc = item; }

}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" type="text/css" href="/css/BookDetailsList.css"> 
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body> 

    <div class="container">
        <img class="img-responsive" src='/lib/layout-img/logo_group.png' />
    </div>

    <div class="container">
        <h4>Детальна інформація щодо обраного твору:</h4>
        <hr />
         <div class="row" style="">
            <div class="col-sm-3">
            @{
              //Checking whether current book has an avatar. If false - show default image placeholder
              string image_address_html = "/lib/img/" + Model.Id + ".png";
              string image_address_tocheckexists = Directory.GetCurrentDirectory().ToString()+"\\wwwroot\\lib\\img\\"+Model.Id+".png";
              var exist = File.Exists(image_address_tocheckexists);
              if (!exist) image_address_html = "/lib/img/notfound.png";
             }
             @Html.Raw("<img class='book_image' src="+image_address_html+">")
            </div>

              <div class="col-sm-9">
                  <div class="row" ><h1> @Html.DisplayFor(model => model.BookName)</h1></div>
                  <div class="row" ><h4> @Html.DisplayFor(model => model.BookAuthor.AuthorName) |  @Html.DisplayFor(model => model.BookRubric.RubricName)</h4></div>
                  <div class="row book_desc">
                      <h6 style="font-weight:400;">
                        @Html.DisplayFor(model => model.BookDescription)
                      </h6>
                  </div>
              </div>
     
             </div>



    
    </div>
<div>
    <a asp-action="Edit" style="display:none" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/site.js"></script>
</body>